# Ignore API keys & Environment variables
.env

# Ignore Virtual Environments & Cache
.venv/
venv/
__pycache__/

# Ignore Auto-downloaded base model & Legacy backups
yolov8n.pt
old_best.pt

# Ignore Generated Audio Alerts
*.mp3